{% extends "base.html" %}

{% load static %}

{% block title %}Бронирование{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Бронирование мест</h1>

{% if request.user.is_authenticated %}

    {% if error %}
    <h2>Ошибка: {{ error }}</h2>
    {% endif %}
    <div >
        <h3 class = "back_1">Карта</h3>
        <div id="map" class="container back_2" style="width: 100%; height: 600px;"></div>
    </div>
    <br>

    <div id="selected_address">
        <h3 class = "back_1">Выбранный адрес</h3>
        <strong><span id="address_value" class = "back_2"></span></strong>
    </div><br>

    <div id = "room-select" style = "display: none;">
        <h3 class = "back_1">Выберите кабинет</h3>
        <span id="rooms-container" class="container back_2"></span><br><br>
    </div><br>
    
    <div>
        <h3 class = "back_1">Дата</h3>
        <form id="dateForm" class="back_2">
            <input type="date" required name="data" id="data" placeholder="Input date">
        </form>
    </div>
    <br>
    
    <div  id="table-select">
        <!-- <div class="schema">
            <p>Выберите стол: </p>
            <button table_id="1" id = "table_1" class="square" style="background-color: red; position: absolute; top: 10%; right: 5%;"></button>
            <button table_id="2" id = "table_2" class="square" style="background-color: blue; position: absolute; top: 10%; left: 5%;" ></button>    
            <button table_id="3" id = "table_3" class="square" style="background-color: green; position: absolute; top: 10%; left: 50%; transform: translateX(-50%);"></button>
            <button table_id="4" id = "table_4" class="square" style="background-color: yellow; position: absolute; top: 45%; left: 50%; transform: translateX(-50%);"></button>
            <button table_id="5" id = "table_5" class="squarex3" style="background-color: black; position: absolute; top: 45%; left: 5%;"></button>
            <button table_id="6" id = "table_6" class="squarex3" style="background-color: rgba(238, 15, 212, 0.886); position: absolute; top: 45%; right: 5%;"></button>
            <button table_id="7" id = "table_7" class="squarex2" style="background-color: rgba(83, 180, 143, 0.886); position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);"></button>
        </div> -->
    </div><br>
    <div class="overlay" onclick="closePopup()"></div>
     <!-- Всплывающее окно с интервалами(элементы) -->
     <div class="popup-interval" style="padding: 10px; display: none; width: auto; max-width: 600px; font-size: 100%; height: auto;">
        <p style="font-size: 150%; text-align: center;">Выберите <br> интервал</p>
        <div  class="check">
            <label class="switch">
                <input type="checkbox" id="check1" name="check" value="1" data-interval="8:00 - 9:00"/>
                <span class="slider round"></span>
            </label>
            <span>8:00 - 9:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check2" name="check" value="2" data-interval="9:00 - 10:00"/>
                <span class="slider round"></span>
            </label>
            <span>9:00 - 10:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check3" name="check" value="3" data-interval="10:00 - 11:00"/>
                <span class="slider round"></span>
            </label>
            <span>10:00 - 11:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check4" name="check" value="4" data-interval="11:00 - 12:00"/>
                <span class="slider round"></span>
            </label>
            <span>11:00 - 12:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check5" name="check" value="5" data-interval="12:00 - 13:00"/>
                <span class="slider round"></span>
            </label>
            <span>12:00 - 13:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check6" name="check" value="6" data-interval="13:00 - 14:00"/>
                <span class="slider round"></span>
            </label>
            <span>13:00 - 14:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check7" name="check" value="7" data-interval="14:00 - 15:00"/>
                <span class="slider round"></span>
            </label>
            <span>14:00 - 15:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check8" name="check" value="8" data-interval="15:00 - 16:00"/>
                <span class="slider round"></span>
            </label>
            <span>15:00 - 16:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check9" name="check" value="9" data-interval="16:00 - 17:00"/>
                <span class="slider round"></span>
            </label>
            <span>16:00 - 17:00</span>
        </div>
        <div class="check">
            <label class="switch">
                <input type="checkbox" id="check10" name="check" value="10" data-interval="17:00 - 18:00"/>
                <span class="slider round"></span>
            </label>
            <span>17:00 - 18:00</span>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <button onclick="selectIntervals()" class="btn btn-primary" style="font-size: 100%; margin-bottom: 10px;">Подтвердить</button>
            <button onclick="closePopup1()" class="btn btn-danger" style="font-size: 100%;">Закрыть</button> <br>
        </div>
    </div>

    <!-- Вывод рещультата выбора столика и интервалов -->
    <div id = "result-container" style="display: none;">
        <h3 class = "back_1">Ваш выбор</h3>
        <span id = "result" class = "back_2"></span>
    </div><br>


    <!-- Добавление участников -->
    <div id="participant-block" style="display: none;">
        <h3 class="back_1">Добавить участника</h3>
        <div id="add-participant" class="back_2" style="display: flex; align-items: stretch; gap: 10px;">
            <input type="text" id="student-id" name="student-id" placeholder="студ билет"/>
            <button id="add-participant-button" class="btn btn-primary">Добавить</button>
        </div>
    </div><br>
    
    <div id = "participants-result-container" style="display: none;">
        <h3 class = "back_1">Список участников</h3>
        <div id = "participants-result" class = " back_2"></div>
    </div><br>
    

    <div id = "bookingForm" class = "hidden">
        <!-- {% csrf_token %} -->
        <button id = "submitBooking" class="btn btn-primary">Забронировать</button>
    </div><br>

    <!-- Модальное окно -->
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" style="align-items: end;">&times;</span>
            <p class="modal-text" id="modal-text"></p>
        </div>
    </div>

    <div id="bookingModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" id="closeModal">&times;</span>
            <h2>Подтверждение бронирования</h2>
            <p id="modalDetails"></p>
            <button id="confirmBooking" class="btn btn-primary">Подтвердить бронирование</button>
        </div>
    </div>
    
{% else %}
    <h2>Пожалуйста войдите в аккаунт</h2>
{% endif %}


{% endblock %}

{% block scripts %}
<script async src="{% static 'js/booking-v2.js' %}"></script>    
<script>
    var currentuser = Number("{{ request.user.student_id|escapejs }}");
    // переменная массив участников
    var participants = [currentuser];

    


</script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    var placemark1, placemark2, placemark3;

    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [56.14, 47.18],
            zoom: 14
        });

        var defaultOptions = {
            preset: 'islands#blueDotIcon'
        };
        var selectedOptions = {
            preset: 'islands#greenDotIcon'
        };

        placemark1 = new ymaps.Placemark([56.143890, 47.211975], {
            hintContent: 'Общежитие №3 Чгу им. И.Н. Ульянова (Московский проспект, 25)'
        }, defaultOptions);

        placemark2 = new ymaps.Placemark([56.143707, 47.209575], {
            hintContent: 'ЧГУ им. И.Н. Ульянова (Московский проспект, 29)'
        }, defaultOptions);

        placemark3 = new ymaps.Placemark([56.132504, 47.163134], {
            hintContent: 'ЧГУ им. И.Н. Ульянова (Университетская, 38)'
        }, defaultOptions);

        myMap.geoObjects.add(placemark1);
        myMap.geoObjects.add(placemark2);
        myMap.geoObjects.add(placemark3);

        function onPlacemarkClick(placemark, markId) {
            return async function(e) {
                if (placemark1 && placemark2 && placemark3) {
                    placemark1.options.set(defaultOptions);
                    placemark2.options.set(defaultOptions);
                    placemark3.options.set(defaultOptions);
                }

                placemark.options.set(selectedOptions);

                selectedMarkId = markId;
                hintContent = placemark.properties.get('hintContent');

                var addressElement = document.getElementById('address_value');
                if (addressElement) {
                    addressElement.innerText = hintContent;
                } else {
                    console.error('Элемент address_value не найден.');
                }

                saveSelectedMarkToLocalStorage(selectedMarkId, hintContent);

                await fetchInstitutions();
                await fetchRooms(selectedMarkId);
            };
        }

        placemark1.events.add('click', onPlacemarkClick(placemark1, 1));
        placemark2.events.add('click', onPlacemarkClick(placemark2, 2));
        placemark3.events.add('click', onPlacemarkClick(placemark3, 3));

        const savedMarkId = localStorage.getItem('selectedMarkId');
        const savedHintContent = localStorage.getItem('hintContent');

        if (savedMarkId && savedHintContent) {
            const placemarks = [placemark1, placemark2, placemark3];
            const placemark = placemarks.find(p => p && p.properties.get('hintContent') === savedHintContent);
            if (placemark) {
                onPlacemarkClick(placemark, parseInt(savedMarkId))();
            }

            var addressElement = document.getElementById('address_value');
            if (addressElement) {
                addressElement.innerText = savedHintContent;
            }
        }
    }
</script>
{% endblock %}
