{% extends "base.html" %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block main %}
 <div class = "main_container">
    <h1 style="text-align: center;">Catworking</h1>
    <div style="border: 4px solid #ccc; padding: 10px; border-radius: 10px">
        <p>Добро пожаловать в Catworking! На нашем сайте вы можете легко и быстро забронировать место в коворкинге. 
            Мы предлагаем интуитивно понятный интерфейс, который позволяет выбрать удобное время и тип рабочего места. 
            Начните свою продуктивную работу с Catworking!
            <br>
            Приятного пользования!
        </p>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 10px; gap: 10px;">
        <div style="flex: 1; margin-right: 20px; display: flex; flex-direction: column;">
            <div style="border: 4px solid #ccc; padding: 10px; border-radius: 10px; flex: 1; display: flex; flex-direction: column; justify-content: space-between;">
                <p>Забронировать место в коворкинг можно здесь</p>
                <a href="{% url 'booking-v2' %}" class="btn btn-primary" style="align-self: center;">Забронировать</a>
            </div>
        </div>
        <div style="flex: 1; display: flex; flex-direction: column;">
            <div style="border: 4px solid #ccc; padding: 10px; border-radius: 10px; flex: 1; display: flex; flex-direction: column; justify-content: space-between;">
                <p>Также есть телеграмм бот для удобной работы на мобильных устройствах</p>
                <a href="https://t.me/Auto_Translate_Baka_bot" class="btn btn-primary" style="align-self: center;">Telegram</a>
            </div>
        </div>
    </div>
    
 </div>
{% endblock %}