#rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.back_1 {
    background-color: rgb(235, 234, 234); /* Серый фон */
    border-radius:  5px 5px 0 0; /* Скругленные углы */
    padding: 10px; /* Внутренние отступы */
    display: inline-block; /* Ограничиваем ширину блока содержимым */
    margin-bottom: -5px;
}

.back_2 {
    background-color: rgb(235, 234, 234); /* Серый фон */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px; /* Внутренние отступы */
    display: block; 
    margin-top: 0;
}

/* всплывающий выбор интервалов */
.popup-interval {
    position: absolute;
    top:30%;
    left:45%;
    transform: translate(-50%,-50%);
    width: 12%;
    height: 48%;
    background: #fff;
    border-radius: 10px;
    border: 10px solid rgb(235, 234, 234);
    opacity: 1;
    z-index: 9999;
    display: none;
}

