{% extends "base.html" %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block main %}
<body class = "mainBody">
    <div class="container mt-4">
        <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-requests-tab" data-bs-toggle="pill" data-bs-target="#pills-request" type="button" role="tab" aria-controls="pills-request" aria-selected="true" style="margin: 0 10px;">Запросы на регистрацию</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-scheme-tab" data-bs-toggle="pill" data-bs-target="#pills-scheme" type="button" role="tab" aria-controls="pills-scheme" aria-selected="false" style="margin: 0 10px;">Конструктор кабинета</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-insitute-tab" data-bs-toggle="pill" data-bs-target="#pills-institute" type="button" role="tab" aria-controls="pills-institute" aria-selected="false" style="margin: 0 10px;">Добавление локации</button>
            </li>
        </ul>

        <div class="tab-content" id="pills-TabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-requests-tab" id="pills-request">
                <div class="d-flex justify-content-center">
                    <div class="card glass-card" style="width: 100%; max-width: 600px;">
                        <div class="card-body">
                            {% if users %}
                                {% for user in users %}
                                    <form action="request-enable/" method="post">
                                        {% csrf_token %}
                                        Пользователь: {{ user }}
                                        Роль: {{ user.role }}
                                        <input id="pk" type="hidden" name="pk" value="{{ user.id }}">
                                        <input class="btn myBtn"  type="submit" value="Принять">
                                    </form>
                                {% endfor %}
                            {% else %}
                                <p>Нет пользователей для отображения.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" role="tabpanel" aria-labelledby="pills-scheme-tab" id="pills-scheme">
                <div class="d-flex justify-content-center">
                    <div class="card glass-card" style="width: 100%; max-width: 600px;">
                        <div class="card-body">
                            <h3 style="text-align: center;">Конструктор кабинета</h3>
                            <div id="toolbar" class="d-flex justify-content-center" style="gap: 10px;">
                                <button id="add-table-2" class="btn myBtn">Добавить столик 2</button>
                                <button id="add-table-4" class="btn myBtn">Добавить столик 4</button>
                                <button id="add-table-8" class="btn myBtn">Добавить столик 8</button>
                            </div>
                            <br>
                            <div class="room-container">
                                <div id="room" class="room"></div>
                            </div>
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="room-number">Номер кабинета:</label>
                            <input class="input-field" type="number" id="room-number" name="room-number">
                            <br>
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="room-capacity">Количество мест:</label>
                            <input class="input-field" type="number" id="room-capacity" name="room-capacity">
                            <br>
                            <br>
                            <button class="btn myBtn" id="generate-html">Сгенерировать код</button>
                            <textarea class="input-field" id="room-code" readonly></textarea>
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="room-description">Описание кабинета:</label>
                            <textarea class="input-field" id="room-description" name="room-description"></textarea>
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="room-location">Местоположение:</label>
                            <select id="room-location" name="room-location">
                                <option class="input-field" value="">Выберите местоположение</option>
                            </select>
                            <br>
                            <br>
                            <button onclick="confirmRoomCreation()" class="btn myBtn">Создать кабинет</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" role="tabpanel" aria-labelledby="pills-insitute-tab" id="pills-institute">
                <div class="d-flex justify-content-center">
                    <div class="card glass-card" style="width: 100%; max-width: 600px;">
                        <div class="card-body">
                            <div id="map" style="width: 100%; height: 500px;"></div>
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="location-name">Название локации:</label>
                            <input class="input-field" type="text" id="location-name" name="location-name">
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="location-address">Адрес локации:</label>
                            <input class="input-field" type="text" id="location-address" name="location-address">
                            <br>
                            <label class = "fw-bold gradient-text" style="font-size: 17px;" for="location-coordinates">Координаты локации:</label>
                            <input class="input-field" type="text" id="location-coordinates" name="location-coordinates">
                            <br>
                            <button onclick="confirmInstituteCreation()" class="btn myBtn">Создать локацию</button>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/admin.js' %}"></script> 

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tabScheme = document.getElementById("pills-scheme");
        const roomLocation = document.getElementById("room-location");

        const loadUniversitiesLocation = async () => {
            // console.log("Загрузка местоположений...")
            await fetchInstitutions();
            roomLocation.innerHTML = '<option value="">Выберите местоположение</option>';
            institutions.forEach(institution => {
                const option = document.createElement("option");
                option.value = institution.id;
                option.textContent = institution.name;
                roomLocation.appendChild(option);
            });
        };

        // Вызов функции для загрузки данных сразу после загрузки страницы
        loadUniversitiesLocation();

        // Добавление слушателя события для переключения на вкладку
        tabScheme.addEventListener('show.bs.tab', (event) => {
            if (event.target.id === "pills-scheme-tab") {
                // Загружаем данные только если вкладка "Конструктор кабинета" активируется
                loadUniversitiesLocation();
            }
        });
    })
</script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ca5a8ff3-7920-4092-b714-aa2cb85b9508" type="text/javascript"></script>
<script>
    ymaps.ready(init);

    function init() {
        var myPlacemark,
            myMap = new ymaps.Map('map', {
                center: [56.14, 47.18],
                zoom: 9
            }, {
                searchControlProvider: 'yandex#search'
            });

        // Слушаем клик на карте.
        myMap.events.add('click', function (e) {
            var coords = e.get('coords');
            // console.log(`Координаты: ${coords}`);
            // Если метка уже создана – просто передвигаем ее.
            if (myPlacemark) {
                myPlacemark.geometry.setCoordinates(coords);
            }
            // Если нет – создаем.
            else {
                myPlacemark = createPlacemark(coords);
                myMap.geoObjects.add(myPlacemark);
                // Слушаем событие окончания перетаскивания на метке.
                myPlacemark.events.add('dragend', function () {
                    getAddress(myPlacemark.geometry.getCoordinates());
                });
            }
            getAddress(coords);
        });

        // Создание метки.
        function createPlacemark(coords) {
            return new ymaps.Placemark(coords, {
                iconCaption: 'поиск...'
            }, {
                preset: 'islands#violetDotIconWithCaption',
                draggable: true
            });
        }

        // Определяем адрес по координатам (обратное геокодирование).
        function getAddress(coords) {
            myPlacemark.properties.set('iconCaption', 'поиск...');
            ymaps.geocode(coords).then(function (res) {
                var firstGeoObject = res.geoObjects.get(0);

                if (firstGeoObject) {
                    let address = firstGeoObject.getAddressLine()

                    myPlacemark.properties
                        .set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [
                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: address
                        });

                    document.getElementById('location-address').value = address
                    document.getElementById('location-coordinates').value = coords[0] + ', ' + coords[1];
                } else {
                    // Если адрес не найден, очищаем поля
                    document.getElementById('location-address').value = '';
                    document.getElementById('location-coordinates').value = '';
                }
            });
        }
    }
</script>
{% endblock %}