{%extends "base.html"%}
{% load static %}
{%block title%}Бронирование{%endblock%}

{%block main%}

        <h1 style="text-align: center;">Бронирование мест</h1>

        <!-- {% if request.user.is_authenticated %} -->

        {% if error %}
            <h2>Ошибка: {{error}}</h2>
        {% endif %}

        <form id="dateForm" action="{% url 'filter' %}" method="get">
            <input type="date" required name="data" id="data" placeholder="Input date" value="{{ filtered_data }}"><br><br>
        </form>
        
        <!-- Кнопка для всплывающего окна с схемой -->
        <div id = "table-select" class = "hidden">
            <p>Выберите стол: </p>
            <button onclick = "showPopup()">Выбрать</button>
        </div>
        <!-- Сами элементы всплюывающей схемы -->
        <div class = popup-schema style="display: none;">
            <div class = "schema">
                <p>Схема расположения: </p>
                <button id="table_1" class = "square" style="background-color: red; position: absolute; top: 10%; right: 5%;"></button>
                <button id="table_2" class = "square" style="background-color: blue; position: absolute; top: 10%; left: 5%;" ></button>    
                <button id="table_3" class = "square" style="background-color: green; position: absolute; top: 10%; left: 50%; transform: translateX(-50%);"></button>
                <button id="table_4" class = "square" style="background-color: yellow; position: absolute; top: 45%; left: 50%; transform: translateX(-50%);"></button>
                <button id="table_5" class = "squarex3" style="background-color: black; position: absolute; top: 45%; left: 5%;"></button>
                <button id="table_6" class = "squarex3" style="background-color: rgba(238, 15, 212, 0.886); position: absolute; top: 45%; right: 5%;"></button>
                <button id="table_7" class = "squarex2" style="background-color: rgba(83, 180, 143, 0.886); position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);"></button>
                <button onclick = "closePopup()" class = "close-icon" style = "position: absolute; top: 3%; right: 3%;">
                    <i >X</i>
                </button>
            </div>
        </div>
        <!-- Всплывающее окно с интервалами(элементы) -->
        <div class = "popup-interval" style="display: none;">
            <div>
            <input type = "checkbox" id = "check1" name = "check" value = "1" data-interval = "8:00 - 9:00"/>
            <label for = "check">8:00 - 9:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check2" name = "check" value="2" data-interval="9:00 - 10:00"/>
            <label for = "check">9:00 - 10:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check3" name = "check" value="3" data-interval="10:00 - 11:00"/>
            <label for = "check">10:00 - 11:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check4" name = "check" value="4" data-interval="11:00 - 12:00"/>
            <label for = "check">11:00 - 12:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check5" name = "check" value="5" data-interval="12:00 - 13:00"/>
            <label for = "check">12:00 - 13:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check6" name = "check" value="6" data-interval="13:00 - 14:00"/>
            <label for = "check">13:00 - 14:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check7" name = "check" value="7" data-interval="14:00 - 15:00"/>
            <label for = "check">14:00 - 15:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check8" name = "check" value="8" data-interval="15:00 - 16:00"/>
            <label for = "check">15:00 - 16:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check9" name = "check" value="9" data-interval="16:00 - 17:00"/>
            <label for = "check">16:00 - 17:00</label>
            </div>
            <div>
            <input type = "checkbox" id = "check10" name = "check" value="10" data-interval="17:00 - 18:00"/>
            <label for = "check">17:00 - 18:00</label>
            </div>
            <button onclick="selectIntervals()">Подтвердить</button>
            <button onclick="closePopup1()">Закрыть</button>
        </div>
        <!-- Вывод рещультата выбора столика и интервалов -->
        <div id = "result" style = "margin-top: 20px;"></div>
        <!-- Добавление участников -->
        <div id = "add-participant" class = "hidden">
            <label for = "student-id">Введите студ билет студентика:</label>
            <input type = "text" id = "student-id" name = "student-id"/>
            <button onclick = "addParticipant()">Добавить участника</button>
            <div id = "participants-result" style = "margin-top: 20px;"></div>
        </div>
        <!-- Вывод рещультата выбора участников -->
        <!-- <div id = "current_user" style = "margin-top: 20px;"><p>Добавленные участники:</p>
            <ul>
                <li>{{ request.user }} (Вы)</li>
            </ul>
        </div> -->
        
        <!-- Стили((((())))) -->

        <form id="bookingForm" method="post" action="{% url 'booking' %}" class = "hidden">
            {% csrf_token %}
            <input type="hidden" name="data" id="data" value="{{ filtered_data }}">
            <input type="hidden" name="place" id="place">
            <input type="hidden" name="student_ids" id="student_ids">
            <input type="hidden" name="times" id="times">
            <button type="submit" id="submitBooking">Подтвердить</button>
        </form>
        
        

    {% else %}
        <h2>Пожалуйста войдите в аккаунт</h2>
    {% endif %}
    <div id="map" style="width: 600px; height: 400px;"></div>
{%endblock%}
        
{% block scripts %}
    <script async src="{% static 'js/booking.js' %}"></script>    
    <script async>
        var currentuser = {{ request.user }};
        console.log(currentuser);
        document.addEventListener('DOMContentLoaded', function() {
        const dateInput = document.getElementById('data');
        const tableSelect = document.getElementById('table-select');
        function toggleTableSelect() {
            if (dateInput.value) {
                tableSelect.classList.remove('hidden');
            } else {
                tableSelect.classList.add('hidden');
            }
        }

        // Проверка заполненности даты при загрузке страницы
        toggleTableSelect();

        //Проверка значения при изменении
        dateInput.addEventListener('change', function() {
            document.getElementById('dateForm').submit();
            toggleTableSelect();
        });
    });
        
    </script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });

            // Пример метки
            var myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                hintContent: 'Москва',
                balloonContent: 'Столица России'
            });

            // Добавляем метку на карту
            myMap.geoObjects.add(myPlacemark);

            // Добавляем событие на метку
            myPlacemark.events.add('click', function (e) {
                window.location.href = 'https://example.com';
            });
        }
        myPlacemark.events.add('click', function (e) {
            window.location.href = 'https://example.com';
        });  
    </script>


{% endblock %}