<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style-v2.css'%}">
    <title>
        {%block title%}{%endblock%}
    </title>
</head>


<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid"> 
        <a href="{% url 'main' %}" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'img/bluecat.svg' %}" style="width: 75px; height: 75px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mx-auto">
                <ul class="navbar-nav mb-1 mb-md-0 d-flex flex-column flex-md-row" style="width: 100%; justify-content: center;">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item flex-fill text-center">
                        <a href="{% url 'main' %}" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item flex-fill text-center">
                        <a href="{% url 'booking-v2' %}" class="nav-link">Бронирование</a>
                    </li>
                    {% endif %}
                </ul>
            
                <div class="d-flex flex-column mx-auto" style="max-width: 400px; width: 100%;"> <!-- Установка максимальной ширины для блока с аккаунтом -->
                    {% if request.user.is_authenticated %}
                    <div class="mb-1">
                        <ul class="navbar-nav mb-2 mb-md-0 d-flex justify-content-center" style="gap: 10px; width: 100%;">
                            <li class="nav-item flex-fill d-flex align-items-center justify-content-center">
                                <a href="{% url 'profile' %}" class="nav-link me-1">Личный кабинет</a>
                                <!-- <a href="{% url 'profile' %}" class="nav-link me-1">
                                    {{ request.user.student_id }} ({{ request.user.last_name }} {{ request.user.first_name|slice:":1" }})
                                </a>
                                <a href="{% url 'profile' %}" class="user-icon" style="text-decoration: none; width: 40px; height: 40px; border-radius: 50%; background-color: #3199e6; color: white; display: flex; align-items: center; justify-content: center; margin-left: 10px;">
                                    {{ request.user.last_name|slice:":1" }}{{ request.user.first_name|slice:":1" }}
                                </a> -->
                            </li>
                            <li class="nav-item flex-fill d-flex justify-content-center">
                                <a class="btn btn-danger" style="height: 40px; " href="{% url 'logout' %}" id="logout">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="d-flex mx-auto">
                    <ul class="navbar-nav mb-2 mb-md-0 d-flex" style="gap: 10px; width: 100%;">
                        <li class="nav-item flex-fill">
                            <a href="{% url 'login' %}" class="btn btn-primary" style="background-color:#3199e6; width: 100%; text-align: center;">Войти</a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a href="{% url 'register' %}" class="btn btn-outline-primary" style="color:#3199e6; width: 100%; text-align: center;">Регистрация</a>
                        </li>
                    </ul>
                </div>                
                {% endif %}
            </div>
        </div>
    </div>
</nav>




<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a href="{% url 'main' %}" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'img/bluecat.svg' %}" style="width: 75px; height: 75px;"> 
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav mx-auto mb-2 mb-md-0 justify-content-center">
                <li class="nav-item">
                    <a href="{% url 'main' %}" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'booking-v2' %}" class="nav-link">Бронирование</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <a href="{% url 'profile' %}" class="nav-link">{{ request.user.student_id }} ({{ request.user.last_name }} {{ request.user.first_name|slice:":1" }})</a>
                <a href="{% url 'profile' %}" class="user-icon" style="text-decoration: none; width: 40px; height: 40px; border-radius: 50%; background-color: #3199e6; color: white; display: flex; align-items: center; justify-content: center; margin-right: 10px;">
                    {{ request.user.last_name|slice:":1" }}{{ request.user.first_name|slice:":1" }}
                </a>
                <a class="btn btn-danger" href="{% url 'logout' %}" id="logout">Выйти</a>
            </div>
            {% else %}
            <div class="d-flex">
                <a href="{% url 'login' %}" class="btn btn-primary me-2" style="background-color:#3199e6;">Войти</a>
                <a href="{% url 'register' %}" class="btn btn-outline-primary" style="color:#3199e6;">Регистрация</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav> -->





    <div class="container mt-4">
        {% block main %}{% endblock %}
    </div>

    {% block scripts%}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>