{%extends "base.html" %}
{% load static %}
{%block title%}Вход{%endblock%}

{%block main%}
<body class = "mainBody">
    <!-- <h1 style="position: absolute; left: 45%; top: 35%; transform: translate(-50%, -50%); ">Вход</h1> -->
    <form action="{% url 'login' %}" method="post" class = "form_1">
        {% csrf_token %}
        <img src="{% static 'img/art_3.png' %}" style="width: 70%; height: 70%; margin-left: 15%; margin-bottom: 5%;">

        {% if error %}
            <p style="color: black; text-align: center;
            border-radius: 5px; padding: 5px; border: #fccbcf 1px solid; 
            background-color: #fccbcf">{{ error }}</p>
        {% endif %}

        <input type="text" name="email" placeholder="Введите почту" style="width: 100%;"><br><br>
        <div style="position: relative;">
            <input type="password" id="password-input" name="password" placeholder="Введите пароль" style="width: 100%;">
            <a href="#" class="password-control" onclick="return show_hide_password(this);" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); text-decoration: none;">
                <i class="bi bi-eye-fill" style="color: #6c6960;"></i>
            </a>
        </div>
        <br><br>
        <input type="submit" value="Войти" class="btn  me-2" style="background: #6366f1; color: white; width: 100%;"><br><br>
        <a href="{% url 'register' %}" class="text-gradient" style="text-decoration: none;">Регистрация</a>
    </form>
</body>
<!-- <br><br>
<h2>
    Тестовые входные данные
</h2>
<h3>
    Администратор: <br>
    Почта: admin@mail.ru <br>
    Пароль: admin <br>
</h3>
<br>
<h3>
    Студент: <br>
    Почта: kirill@mail.ru <br>
    Пароль: student <br>
</h3>
<br>
<h3>
    Студент: <br>
    Почта: nikita@mail.ru <br>
    Пароль: student <br>
</h3> -->


{%endblock%}

{%block scripts%}
<script>
    function show_hide_password(target){
        var input = document.getElementById('password-input');
        var icon = target.querySelector('i');
        if (input.getAttribute('type') == 'password') {
            target.classList.add('view');
            input.setAttribute('type', 'text');
            icon.classList.remove('bi-eye-fill');
            icon.classList.add('bi-eye-slash-fill');
        } else {
            target.classList.remove('view');
            input.setAttribute('type', 'password');
            icon.classList.remove('bi-eye-slash-fill');
            icon.classList.add('bi-eye-fill');
        }
        return false;
    }
</script>
{%endblock%}