{% extends "base.html" %}

{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block main %}
    <!-- <h1 style="text-align: center;">Профиль</h1> -->

{% if request.user.is_authenticated %}
    <div class= "profile_container">
        <div style="flex: 1; margin-right: 20px;">
            <!-- <p>TEST PROFILE</p> -->

        <p style="text-align: center; font-size: 25px;">Мои данные</p>
        <span class="user-icon" style="text-decoration: none; width: 100px; height: 100px; border-radius: 50%;
             background-color: #3199e6; color: white; display: flex; align-items: center; justify-content: center; font-size: 300%; margin-left: 50%; transform: translate(-50%);">
             {{ request.user.last_name|slice:":1" }}{{ request.user.first_name|slice:":1" }}
        </span>
        <div style="margin-top: 10px; text-align: center;">
            <input id="userId" value="{{ request.user.student_id }}" readonly style="border: none; background: transparent;
             text-align: center; font-size: 16px; outline: none; width: 40%;"/>
            <button onclick="copyId()" style=" background-color: transparent; border: none;"><i class="bi bi-copy" style="font-size: 13px;"></i></button>
        </div>
        <label for="last_name">Фамилия</label>
        <input type="text" name="last_name" class="input-field" value="{{ request.user.last_name }}" readonly><br>
        <label for="first_name">Имя</label>
        <input type="text" name="first_name" class="input-field" value="{{ request.user.first_name }}" readonly><br>
        
        <label for="middle_name">Отчество</label>
        <input type="text" name="middle_name" class="input-field" value="{{ request.user.middle_name }}" readonly><br>
        <label for="email">Email</label>
        <input type="email" name="email" class="input-field" value="{{ request.user.email }}" readonly><br>
        <!-- <label for="student_id">Студ. билет</label>
        <input type="number" name="student_id" class="input-field" value="{{ request.user.student_id }}" readonly><br> -->
        {% if request.user.role == 0 %}
        <label for="role">Роль</label>
        <input type="text" name="role" class="input-field" value="Администратор" readonly><br>
        <!-- Администратор -->
        {% elif request.user.role == 1 %}
        <label for="role">Роль</label>
        <input type="text" name="role" class="input-field" value="Студент" readonly><br>
        <!-- Студент -->
        {% elif request.user.role == 2 %}
        <label for="role">Роль</label>
        <input type="text" name="role" class="input-field" value="Преподаватель" readonly><br>
        <!-- Преподаватель -->
        {% elif request.user.role == 3 %}
        <label for="role">Роль</label>
        <input type="text" name="role" class="input-field" value="Сотрудник" readonly><br>
        <!-- СотрудникS -->
        {% endif %}
        </div>

        <br>
        <div  style="flex: 5; width: 100%; margin: 0;">
            <!-- <p>TEST EDIT BOOKS</p> -->
            <p style="text-align: center; font-size: 25px;">Мои бронирования</p>
            <table style="  width: 100%; border-collapse: separate; border-spacing: 0 5px; ">
                <thead style="position: sticky;top: 0; background-color: white; z-index: 10;">
                    <tr style="text-align: center;">
                        <!-- <td style="border: none">Айди</td> -->
                        <td style="border: none">Дата</td>
                        <td style="border: none">Столик</td>
                        <td style="border: none">Время</td>
                        <td style="border: none">Кабинет</td>
                        <td style="border: none">Действие</td>
                    </tr>
                </thead>
                <tbody>
                {% if bookings %}
                    {% for item in bookings %}
                            <tr style="border: 3px solid; border-bottom: none;">
                                <form action="remove-book/" method="post">
                                    {% csrf_token %}
                                <!-- <td style="border: 3px solid; border-color: #ccc; padding: 10px; border-right: none; border-radius: 40px 0 0 40px;">{{item.id}}</td> -->
                                <td style="border: 3px solid; border-color: #ccc;  border-right: none;  border-radius: 40px 0 0 40px;">{{ item.date }}</td>
                                <td style="border: 3px solid; border-color: #ccc; border-right: none; border-left: none;">{{ item.place }}</td>
                                <td style="border: 3px solid; border-color: #ccc;  border-right: none; border-left: none;">
                                    {% if item.time == 1 %}
                                    8:00-9:00
                                    {% elif item.time == 2 %}
                                    9:00-10:00
                                    {% elif item.time == 3 %}
                                    10:00-11:00
                                    {% elif item.time == 4 %}
                                    11:00-12:00
                                    {% elif item.time == 5 %}
                                    12:00-13:00
                                    {% elif item.time == 6 %}
                                    13:00-14:00
                                    {% elif item.time == 7 %}
                                    14:00-15:00
                                    {% elif item.time == 8 %}
                                    15:00-16:00
                                    {% elif item.time == 9 %}
                                    16:00-17:00
                                    {% elif item.time == 10 %}
                                    17:00-18:00
                                    {% endif %}</td>

                                    <td style="border: 3px solid; border-color: #ccc;  border-right: none; border-left: none;">{{item.room}}</td>

                                    <input id="pk" type="hidden" name="pk" value="{{ item.id }}">
                                    <td style="border: 3px solid; border-color: #ccc; border-left: none; border-radius: 0 40px 40px 0;">
                                        {% if item.date > now_date %}
                                            <input class="btn btn-outline-danger" type="submit" value="Отменить" >
                                        {% elif item.date == now_date and item.time > now_hour|add:"-7" %}
                                            <input class="btn btn-outline-danger" type="submit" value="Отменить" >
                                        {% else %}
                                            <input class="btn btn-outline-secondary" disabled type="submit" value="Отменить" >
                                        {% endif %}
                                    </td>
                                </form>
                            </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    ПУСТО
                {% endif %}
            </table>
        </div>
    </div>
    <br>

{% else %}
    <h2>Пожалуйста войдите в аккаунт</h2>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    function copyId(){
        var copyText = "{{ request.user.student_id }}";
        var tempInput = document.createElement("input");
        tempInput.value = copyText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
    }
</script>    
{% endblock %}